.header
    i.fa.fa-exchange.fa-lg.toggle-sidebar
    .dropdown.notification-container
        i.fa.fa-bell.fa-lg#notifications.toggle-notifications.header-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu.dropdown-notifications(aria-labelledby='notifications')
            .noti-head
                | Notifications 
                span 50
            .noti-content
                ul.list-unstyled
                    li
                        i.fa.fa-envelope-o.fa-lg
                        | You Got Email Bla Bla Bla
                    li
                        i.fa.fa-money.fa-lg
                        | You Got money Bla Bla Bla
                    li
                        i.fa.fa-thumbs-o-up.fa-lg
                        | You Got Like Bla Bla Bla
                    li
                        i.fa.fa-envelope-o.fa-lg
                        | You Got Email Bla Bla Bla
                    li
                        i.fa.fa-envelope-o.fa-lg
                        | You Got Email Bla Bla Bla
            .noti-foot: a(href="#") View All Notifications
        i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon