.sidebar
    .logo-area.text-center YznetaX
    ul.links-area.list-unstyled
        li: a(href="#") Homepage
        li
            a.toggle-submenu(href="#") 
                | Forms
                i.fa.fa-angle-right.toggle-submenu  
            ul.list-unstyled.child-links
                li: a(href="#") Textarea
                li: a(href="#") input
                li: a(href="#") Radio
                li: a(href="#") Checkbox
        li
            a.toggle-submenu(href="#")
                | Misc
                i.fa.fa-angle-right 
            ul.list-unstyled.child-links
                li: a(href="#") Loading
                li: a(href="#") Breadcrumbs

